# vim: ft=bash

current_pane_id=$(wezterm cli list-clients --format json | jq '.[].focused_pane_id')
window_id=$(wezterm cli list --format json | jq -r '.[] | select(.pane_id == '$current_pane_id') | .window_id')
panes_in_window=$(wezterm cli list --format json | jq -r '[ .[] | select(.window_id == '$window_id') ] | length')

if [ $panes_in_window == '1' ]; then
    yazi=$(wezterm cli split-pane --left --cells 55 -- yazi)
    lazygit=$(wezterm cli split-pane --pane-id $yazi --bottom -- lazygit)
    wezterm cli split-pane --bottom --cells 8 -- fish
    wezterm cli send-text --pane-id "$yazi" --no-paste "+"
    wezterm cli send-text --pane-id "$lazygit" --no-paste "+"
    wezterm cli activate-pane --pane-id $current_pane_id
    nvim .
fi
