[submodule "dotfiles/tmux/plugins/catppuccin"]
	path = dotfiles/tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux
[submodule "dotfiles/tmux/plugins/tmux-nerd-font-window-name"]
	path = dotfiles/tmux/plugins/tmux-nerd-font-window-name
	url = https://github.com/joshmedeski/tmux-nerd-font-window-name
[submodule "dotfiles/wezterm/plugins/tabline.wez"]
	path = dotfiles/wezterm/plugins/tabline.wez
	url = https://github.com/michaelbrusegard/tabline.wez
[submodule "dotfiles/wezterm/lua/plugins/tabline.wez"]
	path = dotfiles/wezterm/lua/plugins/tabline.wez
	url = https://github.com/michaelbrusegard/tabline.wez
[submodule "dotfiles/wezterm/tabline.wez"]
	path = dotfiles/wezterm/tabline.wez
	url = https://github.com/michaelbrusegard/tabline.wez
