headerbar {
	min-height: 8px;
	padding: 0;
	margin: 0;
	border: none;
	background: #303446; /* Base */
}

tabbar tabbox {
	margin: -4px;
	padding: 0;
	min-height: 8px;
	background-color: #232634; /* Crust */
	font-size: 12px;
}

tab {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 1px 8px;
	color: #a5adce; /* Subtext0 */
	transition: all 0.2s ease;
}

tab:selected {
	background-color: #85c1dc; /* Mauve */
	color: #303446; /* Base */
	font-weight: bold;
}

tab:hover:not(:selected) {
	background-color: #414559; /* Surface0 */
	color: #c6d0f5; /* Text */
}
